/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

nav{
	width: 75%;
	display: inline-block;
}

nav a{
	text-align: center;
	color: gray;
	width: 15%;
	display: inline-block;
}

div.great-idea{
	display: inline-block;
	width: 24%;
}

img.logo{
	height: auto;
	width: 60%;
}

header{
	margin: 100px 0px;
}

h1{
	display: inline-block;
	text-align: center;
	width: 45%;
}
h1 a{
	display: inline-block;
	font-size: 1400%;
	width: 50%;
}

div.circle-image{
	display: inline-block;
	width: 50%;
	text-align: center;
}

div.circle-image img{
	height: auto;
	width: 55%;
}

div.button{
	display: inline-block;
	font-size: 170%;
	border: black solid 1.5px;
	padding: .5% 2%;
	width: 15%;
	text-align: center;
	margin: 0% 17%;
}
div.text{
	display: inline-block;
	border-style: solid none solid none;
	border-color: black;
	border-width: 2px;
	padding: 50px 0px;
	margin: 0px 5%;
}	

div.features{
	display: inline-block;
	width: 49%;
	font-size: 125%;
}

div.about{
	display: inline-block;
	width: 49%;
	font-size: 125%;
}

img.middle-img{
	width: 100%;
	height: auto;
}
div.middle-image{
	display: inline-block;
	width: 100%;
	margin: 3% 0%;
}

section.bottom div{
	display: inline-block;
	font-size: 125%;
	width: 33%;

}

section.Contact{
	display:inline-block;
	font-size: 125%;
	margin: 50px 5%;
}
footer{
	font-size:125%;
	text-align: center;
	margin: 5% 0px;
}